---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/events/track
    body:
      encoding: UTF-8
      string: '{"userId":1,"eventName":"Event B"}'
    headers:
      Authorization:
      - de933823ndme318mo2!cf428G
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ok
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '0'
      X-Upstream:
      - high_traffic
    body:
      encoding: ASCII-8BIT
      string: '{"msg": "Event B Created", "code": "Success", "params": {}}'
  recorded_at: Thu, 15 Aug 2024 06:48:18 GMT
recorded_with: VCR 6.2.0
