---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/email/target
    body:
      encoding: UTF-8
      string: '{"recipientUserId":1,"campaignId":1}'
    headers:
      Authorization:
      - de933823ndme318mo2!cf428G
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ok
    headers:
      Content-Type:
      - application/json
      Request-Time:
      - '1'
      X-Upstream:
      - low_traffic
    body:
      encoding: ASCII-8BIT
      string: '{"msg": "string", "code": "Success", "params": {}}'
  recorded_at: Thu, 15 Aug 2024 07:22:34 GMT
recorded_with: VCR 6.2.0
